/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body */
body{
    padding: 0 10px;
    scroll-behavior: smooth;
}
/* title */
.title{
    margin-top: 20px;
    text-align: center;
}
.subtitle{
    margin: 10px 0px;
    text-align: center;
}
/* Header */
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > a{
    text-decoration: none;
}
.menu-triagle{
    text-decoration: none;
    background-color: aqua;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

/* main content */
main{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
/* triagle */
.card{
    border: 1px aqua solid;
    padding: 20px;
    box-shadow: 0px 14px 5px -7px rgba(0,0,0,0.3);
}
.form-triagle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.triagle-parallelogram{
    padding: 8px 4px;
    border-radius: 6px;
    width: 100%;
}
.button-triagle{
    padding: 6px 8px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 6px;
}
.clear{
    padding: 6px 8px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 6px;
}

.form-around-triagle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-around-triagle{
    padding: 6px 8px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 6px;
}
/* parallelogram */
.form-parallelogram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-parallelogram{
    padding: 6px 8px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 6px;
}

.form-around-parallelogram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-around-parallelogram{
    padding: 6px 8px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 6px;
}